<h1>Hello!</h1>
<p>
    Here you can find examples of endpoints usage:

    <ul>
        <li>
            <a href="./elapsed_time?timestamp=1571356830600">./elapsed_time?timestamp=1571356830600</a>
        </li>
        <li>
            <a href="./rows_per_second?start_timestamp=1571356830600&finish_timestamp=1571500000000">
                ./rows_per_second?start_timestamp=1571356830600&finish_timestamp=1571500000000</a>
        </li>
        <li>
            <a href="./rows_per_thread?start_timestamp=1571356830600&finish_timestamp=1571500000000">
                ./rows_per_thread?start_timestamp=1571356830600&finish_timestamp=1571500000000</a>
        </li>
        <li>
            <a href="./thread_per_second?start_timestamp=1571356830600&finish_timestamp=1571500000000">
                ./thread_per_second?start_timestamp=1571356830600&finish_timestamp=1571500000000</a>
        </li>
    </ul>
</p>
